@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ededed;
  --color-background-dark: #383838;

  --color-text: #383838;
  --color-text-dark: #ededed;
}
