@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ededed;
  --color-background-dark: #484d50;

  --color-text: #484d50;
  --color-text-dark: #ededed;

  --color-hover-dark: #3c3c3c;
}
